body{
    background: #464F61;
    color: floralwhite;
    font-size: 18px;
}
button{
    background: #41b1c7;
    border-style: none;
    border-radius: 3px;
}
input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:60%;
}
input[type='radio']:checked:before {
    background: #41b1c7;
}
.radioAnswer{
    padding: 30px;
}
#iconOk{
    color: #021519;
    border-radius: 40%;
    background: #11ff35;
}
#iconBad{
    border-radius: 40%;
    color: #021519;
    background: #ff3642;
}
#buttonDontKnow{
    background: #464F61;
    border-style: solid;
    border-color: #41b1c7;
    color: #41b1c7;
}
.progress-bar{
    background: #41b1c7;
}
